@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("../../public/bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #121214;
    border-radius: 20px;
}